* { box-sizing: border-box; } 

body{
	font-family: 'Roboto', sans-serif;
}

.home-wrapper{
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/analisis_sistemas.jpg') no-repeat center top;
	background-size: cover;
	color: white;
}

header{
	padding: 10px 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header nav a{
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 15px;
	border-radius: 20px;
}

header nav a.active{
	background: brown;
}


#home{
	text-align: center;
	padding: 200px 0 150px;
}

#home h1{
	font-size: 68px;
	font-weight: normal;
}

#home h2{
	font font-size: 24px;
	color: white;

}

#home .social{
	margin-top: 80px;
    display
}

#home .social a{
	color: white;
	display: inline-block;
	border-radius: 50%;
	background-color: black
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-right: 10px;
}
#habilidades{
	background-color: whitesmoke;
}

#habilidades .box{ 
	display: inline-block;
	text-align: center;
	width: 31%;
	margin: 1%;
	padding: 10px;
	background-color: white;

}

#habilidades .box img{
	width: 100%;
}

#portafolio .box p{
	color: #666;
	padding: 10px;
}

#contacto{
	background-color: #303030;
	background-image: url('../images/formulario.png');
	background-position: center;
	background-repeat: no-repeat;
	text-align: center; 
}

#contacto h2{
	color: black;
}

#contacto input{
	padding: 20px;
	width: 400px;
	border: 1px; solid #ccc
	border-radius: 3px;
}

#contacto textarea{
	margin: 20px 0;
	padding: 20px;
	width: 400px;
}

#contacto button{
	padding: 20px 40px;
	border-color: black;
	border-radius: 6px
	color: white;
	font-size: 18px;
	line-height: 1;
	font-weight: bold;

}

footer{
	padding: 90px 0;
	text-align: center;
	font-size: 18px;
}

section{
	padding: 80px 0;
}

section h2{
	font-size: 32px;
	text-align: center;
	margin-bottom: 80px;
}

.container{
	width: 992px;
	margin-left: auto;
	margin-right: auto;
}




